<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <appSettings>
      <add key="maxRetryCount" value="10" />
      <add key="ftpDirectoryPath" value="ftp://35.187.185.216/" />
      <add key="ftpUserName" value="sofia" />
      <add key="ftpPassword" value="sofia" />
      <add key="sftpHost" value="sftp.ioscorp.com" />
      <add key="sftpUserName" value="SoftServe" />
      <add key="sftpPassword" value="softserve1" />
      <add key="storageType" value="local" />
      <add key="destinationPath" value="C:\DownloadedFiles" />
      <add key="sources" value="sftp://SoftServe@sftp.ioscorp.com/OlehBasarab/soap-bubble.jpg, ftp://35.187.185.216/c4p.txt, https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634_960_720.png" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>