<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <appSettings>
      <add key="maxRetryCount" value="10" />
      <add key="ftpDirectoryPath" value="ftp://35.187.185.216/" />
      <add key="ftpUserName" value="sofia" />
      <add key="ftpPassword" value="sofia" />
      <add key="sftpHost" value="sftp.ioscorp.com" />
      <add key="sftpUserName" value="SoftServe" />
      <add key="sftpPassword" value="softserve1" />
      <add key="ftpTestSource" value="ftp://35.187.185.216/agoda.jpg" />
      <add key="ftpTestSourceSizeInKb" value="159" />
      <add key="sftpTestSource" value="sftp://SoftServe@sftp.ioscorp.com/OlehBasarab/soap-bubble.jpg" />
      <add key="sftpTestSourceSizeInKb" value="159" />
      <add key="httpTestSource" value="https://cdn6.agoda.net/images/mvc/default/background_image/Banyan-Tree-Ungasan_1920.jpg" />
      <add key="httpTestSourceSizeInKb" value="159" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>